img.imgPost {
    height: 500px;
}

.btnLike {
    background: none;
    border: none;
  
}

.fa-regular{
    font-size: 22px !important;

}

.imgPerfil{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.namePerfil{
    text-decoration: none;
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.editBtn{
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 0;
    color: #000 ;
    font-size: 20px !important;

}

.titleEdit{
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(186, 186, 186);
}

.ConEdit{
    padding: 10px 0;
}

.fa-regular.fa-heart:active {
    color: #ff3040; /* Cambiar el color del texto cuando se hace clic en el botón */
}

@media screen and (max-width: 992px){
    
    .container{
       width: 100% !important;
    }
}

